@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@400;500;700&family=Ubuntu:ital,wght@0,300;0,400;0,500;1,700&display=swap');

*{
    font-family: 'Ubuntu', sans-serif;
}

body{
    background: rgba(20, 22, 28, 1);
    align-items: center;
}

nav{
    border-bottom: 1px solid rgba(88, 88, 88, 1);
    border: 0px, 0px, 1px, 0px;
}

nav img{
    margin: 15px 0px 15px 100px;
}

.warning {
    background: rgba(186, 71, 71, 1);
    width: 218px;
    height: 34px;
    border-radius: 10px;
    justify-content: center;
    align-items: center;
    margin: 60px auto 0 auto;
    display: flex;
    visibility: hidden;
}

.warning h1{
    font-size: 16px;
    font-weight: 700;
    line-height: 19px;
    letter-spacing: 0em;
    text-align: center;
    color: rgba(95, 15, 29, 1);
}

.board{
    width: 330px;
    height: 397px;
    align-items: center;
    display: flex;
    align-content: center;
    margin: 90px auto 70px auto;
    flex-direction: column;
}

.board .row{
    display: flex;
}

.board .row div{
    width: 62px;
    height: 62px;
    margin: 4px;
    border: 1px solid rgba(88, 88, 88, 1);
    align-items: center;
    justify-content: center;
    display: flex;
}

.board .row div p{
    color: white;
    font-weight: bold;
    font-size: 5vh;
    text-transform: capitalize;
}

.keyboard{
    position: relative;
    margin: 0 auto;
    width: 475px;
    height: 184px;
    align-items: center;
    display: flex;
    flex-direction: column;
}

.keyboard .row{
    margin-bottom: 5px;
}

.keyboard .row button{
    height: 52px;
    width: 43px;
    align-items: center;
    background: rgba(129, 131, 132, 1);
    color: white;
    font-weight: bold;
    font-size: 2vh;
}

.keyboard .row .enter {
    width: auto;
}